<header>
  <a href="/"><img src="/images/img_fact.png" alt="logo" height="75" /></a>
  <img src="/images/slogan.png" alt="Suntem la dispozitia ta" height="75" />
  <div id="div4">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a>Informatii</a>
        <ul>
          <li><a href="/pages/contactare">Contactare</a></li>
          <li><a href="/pages/inscriere">Inscriere</a></li>
        </ul>
      </li>
    </ul>
    <button onclick="document.getElementById('log-in').style.display='block'" style="width:auto;">
      Conectare
    </button>

    <div id="log-in" class="modal">
      <form id="log-in-form" class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('log-in').style.display='none'" class="close"
            title="Close Modal">&times;</span>
          <img src="/images/img_fact.png" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
          <label for="username"><b>Username</b></label>
          <input id="username" type="text" placeholder="Username" name="username" required />

          <label for="password"><b>Parola</b></label>
          <input id="password" type="password" placeholder="Parola" name="password" required />

          <button type="submit" id="connect">Conectare</button>
          <label><input type="checkbox" checked="checked" name="remember" />
            Tine-ma minte</label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('log-in').style.display='none'" class="cancelbtn">
            Anulare
          </button>
          <span class="password">Ai uitat <a href="#">parola?</a></span>
        </div>
      </form>
    </div>
  </div>
  <% if(locals.username) { %>
    <p id="username"><span class="username"> Buna, <%= username %></span></p>
  <% } %>
  <script src="/javascripts/sessions.js"></script>
</header>