<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8" />
  <meta name="facturari" content="Facturari" />
  <meta name="description" content="Site de facturari" />
  <meta name="author" content="Bondoc Gabriel" />
  <meta name="keywords" content="HTML,CSS" />
  <title>Facturari</title>
  <link rel="icon" href="/images/facturari.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/meniu-derulant.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-table.css" />
</head>

<body>
  <%- include _menu %>
  <%- body %>
  <footer>
    <p id="footer">© Numarul 1 in Romania</p>
  </footer>
</body>

</html>