<header>
	<a href="/"><img src="/images/img_fact.png" alt="logo" height=75></a>
	<img src="images/slogan.png" alt="Suntem la dispozitia ta" height=75>
	<div id="div4">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a>Informatii</a>
				<ul>
					<li><a href="/pages/contactare">Contactare</a></li>
					<li><a href="/pages/inscriere">Inscriere</a></li>
				</ul>
			</li>
		</ul>
		<button style="width:auto;">Conectat</button>
	</div>
</header>
<hr>
<main>
	<section>
		<h1>Bine ați venit!</h1>
		<p>Ce vrei sa facturezi?</p>
	</section>
</main>
