<table>
  <thead>
    <tr>
      <th colspan="8">Orar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">Program normal</td>
      <td>Luni</td>
      <td>Marti</td>
      <td>Miercuri</td>
      <td>Joi</td>
      <td>Vineri</td>
      <td>Sambata</td>
      <td>Duminica</td>
    </tr>
    <tr>
      <td>7:00 - 20:20</td>
      <td>7:00 - 20:20</td>
      <td>7:00 - 20:20</td>
      <td>7:00 - 20:20</td>
      <td>7:00 - 20:20</td>
      <td>12:00 - 15:20</td>
      <td>-</td>
    </tr>
    <tr>
      <td rowspan="2">Sarbatori</td>
      <td>Luni</td>
      <td>Marti</td>
      <td>Miercuri</td>
      <td>Joi</td>
      <td>Vineri</td>
      <td>Sambata</td>
      <td>Duminica</td>
    </tr>
    <tr>
      <td>9:00 - 12:20</td>
      <td>9:00 - 12:20</td>
      <td>9:00 - 12:20</td>
      <td>9:00 - 12:20</td>
      <td>9:00 - 12:20</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">Sa aveti o zi buna</td>
    </tr>
  </tfoot>
</table>
<br /><br />
<p>Puteti sa ne apelati si la</p>
<p>
  <a href="tel:+40000000000"> 0000 000 000 </a>
</p>