<hr />
<main>
  <section>
    <h1>Bine ați venit!</h1>
    <p>Ce vrei sa facturezi?</p>
    <br />
    <table>
      <tr>
        <th>Firma noastra</th>
        <th>Alte firme</th>
      </tr>
      <tr>
        <td>Locul 1</td>
        <td>Locul 2</td>
      </tr>
    </table>

    <br />
    <aside>
      <p>Site-ul nostru de facturari a fost creat in 2014</p>
      <p>
        Prima firma de facturari din Romania nu se stie in ce an a fost
        infiintata.
      </p>
    </aside>
    <article>
      <h2>Despre site:</h2>
      <h3>
        Site-ul nostru a fost creat in 2014 cu scopul de a ajuta oamenii sa
        aiba o viata mai lejera.
      </h3>
      <h3>
        Speram ca articolul acesta v-a ajutat sa intelegeti mai mult despre
        noi.
      </h3>
    </article>
  </section>
  <nav>
    <a href="/pages/contactare">Contactare</a> |
    <a href="/pages/inscriere">Inscriere</a>
  </nav>
</main>
<ul>
  <li><a href="/">Home</a></li>
  <li>
    <a>Informatii</a>
    <ul>
      <li><a href="/pages/contactare">Contactare</a></li>
      <li><a href="/pages/inscriere">Inscriere</a></li>
    </ul>
  </li>
</ul>